input {
  margin-bottom: 20px;
  border: 1px solid #519872;
  border-radius: 2px;
  padding: 3px;
  margin-top: 5px;
}

.wizard h3 {
  margin-left: 10px;
}

.step {
  padding: 50px 80px;
}

.bottom-inputs {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.bottom-inputs > div {
  margin-right: 20px;
}

.nav-btn-box {
  display: flex;
  justify-content: space-between;
}
